/*Montserrat*/
@font-face {
    font-family: 'IBMPlexSans';
    src: url('libs/fonts/IBMPlexSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSans-Medium';
    src: url('libs/fonts/IBMPlexSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSans-Bold';
    src: url('libs/fonts/IBMPlexSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}